html {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-text-color: #212121;
    --hover-button-color: #2196f3;
    --secondary-color: #757575;
    --white: #ffffff;
    --hero-background-color: #2f303a;
    --secondary-section-background-color: #e5e5e5;
    --team-background-color: #f5f4fa;
    --social-icons-color: #afb1b8;
}
a {
    text-decoration: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

.page-header {
    padding-bottom: 25px;
    padding-top: 24px;
}
.main-nav {
    display: flex;
    width: 1200px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    margin-right: 53px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--hover-button-color);
}

.logospan {
    color: black;
}

.site-nav .link.current {
    color: var(--hover-button-color);
    position: relative;
    transition: 5s cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 28.6px;
    background-color: currentColor;
    border-radius: 2px;
    position: absolute;
}

.site-nav .link:hover,
focus {
    color: var(--hover-button-color);
}

.site-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-nav {
    display: flex;
    align-items: center;
}

.site-nav :not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.upper-contacts {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.upper-contacts .item + .item {
    margin-left: 50px;
}

.upper-contacts-svg {
    fill: var(--secondary-color);
}

.upper-contacts-item .upper-contacts-svg:hover {
    fill: var(--hover-button-color);
}
.upper-contacts-svg-one {
    width: 16px;
    height: 12px;
}

.upper-contacts-svg-two {
    width: 10px;
    height: 16px;
}

.upper-contacts {
    margin-right: 10px;
}

.upper-contacts-item {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.upper-contacts-item:hover {
    color: var(--hover-button-color);
}

.upper-contacts-svg {
    fill: currentColor;
    margin-right: 10px;
}

.border-bottom {
    border-bottom: 1px solid #ececec;
}
.hero {
    background-color: var(--hero-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.herotitle {
    flex-wrap: wrap;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 30px;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.herobutton {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    text-align: center;

    background: var(--hover-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white);
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.is-hidden .modal {
    transform: translate(-50%, 0%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: var(--white);
    padding: 80px 40px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white);
    background-color: transparent;
    background-image: url("../images/btn.close.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.description {
    padding-top: 94px;
    padding-bottom: 94px;
}
.description-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 213px;
    align-items: center;
    width: 1200px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.description-list .item {
    width: 270px;
}
.description-list .item:not(:last-child) {
    margin-right: 30px;
}

.description-list .item::before {
    display: block;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--team-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.details-attention::before {
    background-image: url("../images/antenna1.png");
}

.being-ontime::before {
    background-image: url("../images/clock1.png");
}

.planning::before {
    background-image: url("../images/diagram1.png");
}

.technologies::before {
    background-image: url("../images/astronaut1.png");
}
.desctitle {
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.desctext {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.function {
    padding-bottom: 94px;
}

.functitle {
    margin-bottom: 50px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.functitle-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding-left: 0;
}
.functitle-list-item {
    width: 370px;
}

.functitle-list .functitle-list-item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do {
    position: relative;
}

.what-we-do-header {
    position: absolute;
    flex-wrap: no-wrap;
    bottom: 0;
    padding-top: 27px;
    width: 100%;
    height: 70px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    background: rgba(47, 48, 58, 0.8);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

.team {
    background-color: var(--team-background-color);
    padding-bottom: 94px;
    padding-top: 94px;
}
.teamheader {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 1.17;
    color: var(--main-text-color);
}
.flex-item {
    width: 270px;
    padding-bottom: 30px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.flex-container .flex-item:not(:last-child) {
    margin-right: 30px;
}
.teamitem {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.itemposition {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.list-social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 32px;
    margin-top: 16px;
    align-items: center;
    padding-inline-start: 0;
}

.social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
    fill: var(--white);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: var(--hover-button-color);
}
.social-icons-svg {
    width: 20px;
    height: 20px;
    fill: var(--social-icons-color);
}

.social-icons-item:not(:last-child) {
    margin-right: 10px;
}
.clients {
    padding-bottom: 94px;
    padding-top: 94px;
}
.clients-header {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 1.17;
    color: var(--main-text-color);
}

.constant-clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    padding-inline-start: 0;
}

.constant-clients-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--social-icons-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-examples-svg {
    fill: var(--social-icons-color);
}

.constant-clients-list-item:hover .clients-examples-svg,
.constant-clients-list-item:focus .clients-examples-svg {
    fill: var(--hover-button-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.constant-clients-list-item:hover,
.constant-clients-list-item:focus {
    border-color: var(--hover-button-color);
}

.constant-clients-list-a:not(:last-child) {
    margin-right: 30px;
}

.footer {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-background-color);
}

.footer-div-box {
    display: flex;
    flex-wrap: wrap;
}
.footerlogo {
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hover-button-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footerlogospan {
    color: var(--white);
}
.footer-list {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0px;
}

.footer-div-box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.footer-list-item {
    margin-bottom: 9px;
}
.address {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
}

.mail,
.tel {
    margin-bottom: 9px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.tel:hover {
    color: var(--hover-button-color);
}

.footer-widget {
    width: 270px;
    margin-right: 30px;
}

.join-us-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}

.list-footer-social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    padding-inline-start: 0;
}
.footer-social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons-link:hover .footer-social-icons-svg,
.footer-social-icons-link:focus .footer-social-icons-svg {
    fill: var(--white);
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus {
    background-color: var(--hover-button-color);
}
.footer-social-icons-svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.footer-social-icons-item:not(:last-child) {
    margin-right: 10px;
}
.ourprojects {
    display: flex;
    flex-wrap: wrap;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    align-items: center;
}
.project-button-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    justify-content: center;
}

.projectbutton {
    padding: 6px 22px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background: var(--team-background-color);
    border-radius: 4px;
    border: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-button-item:not(:last-child) {
    margin-right: 8px;
}

.projects-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}
.project-info-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-img-box {
    position: relative;
    overflow: hidden;
}

.project-box-desc {
    display: inline-block;
    position: absolute;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 63px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--white);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-box-link:hover,
.project-box-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.project-box-link:hover .project-box-desc,
.project-box-link:focus .project-box-desc {
    transform: translateY(0);
}

.project-info-item:nth-child(3n) {
    margin-right: 0;
}

.project-info-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.project-info-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}
.projecthead {
    margin-bottom: 4px;
    margin-right: auto;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--main-text-color);
}

.projectdesc {
    margin-top: 0;
    margin-bottom: 20;
    margin-right: auto;
    text-align: left;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.projectbutton:hover,
.projectbutton:focus {
    background-color: var(--hover-button-color);
    color: var(--white);
    cursor: pointer;
}
